body{
	background-color:#F48E43;
	}
	#galería{
	border: 1px solid #F46143;
	border-radius: 25px;
	padding: 20px
	padding-bottom:0;
	background: #F9E27E;
	width: 940px;
	margin: auto;
	}
	#principal{
		border: 1px solid #F9F97E;
		border-radius: 25px;
		width: 940px;
		height: 300px;

	}
	#galería_miniaturas{
		display: table;
		margin: 0px auto;
	}
	.miniaturas{
		width: 60PX;
		height: 60px;
		border-radius: 10px;
		float: left;
		cursor: pointer;
		padding: 5px;
		margin: 10px 5px;
	}
	img.desaturada{
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter:grayscale(100%);
	}
	 img.Saturate_Desaturate{ 
$colorMan: #336699;
#pageMan{
 color: saturate($colorMan, 15%);
}